
{{>header}}
    <g id="body">
        {{>base-snug}}
        {{>tail-snug}}
    </g>
    <g id="features">
        {{>eyes-snug}}
        <g id="nose-snug" transform="translate(1.5 0)">
            {{#snug}}#nose{{/snug}}
        </g>
        {{>whiskers-snug}}
    </g>
{{>footer}}
