{{>header}}
    <g id="body">
        {{>base-snug}}
        {{>tail-snug}}
        {{>extra-snug}}
    </g>
    <g id="features">
        {{>eyes-aww}}
        <g id="nose-snug" transform="translate(1.5 0)">
            {{#snug}}#nose{{/snug}}
        </g>
    </g>
{{>footer}}
