{{! Left ear }}
{{#base}}#left-ear{{/base}}

{{#base}}#body{{/base}}
{{#base}}#hair{{/base}}

{{! Right ear }}
{{#base}}#right-ear{{/base}}
{{#base}}#right-ear-fluff{{/base}}

{{! Whiskers }}
{{^tags.hands-reach}}
    {{>whiskers}}
{{/tags.hands-reach}}
