<g id="body-snug">
    <defs>
        <clipPath id="body-clip">
            {{#snug}}#body{{/snug}}
        </clipPath>
    </defs>

    <g id="left-ear" transform="translate(0 7.55) rotate(5 25 20.8) translate(0 0.75)">
        {{#set-fill}} {{vars.ear_color}} | {{#base}}#left-ear{{/base}} {{/set-fill}}
    </g>

    {{#set-fill}}
        {{vars.body_color}}
        | {{#snug}}#body{{/snug}}
    {{/set-fill}}

    <g id="right-ear" transform="scale(1 0.95) translate(0 7.55) rotate(5 109.6 18.9) translate(-1.89 6.05)">
        {{#set-fill}} {{vars.ear_color}} | {{#base}}#right-ear{{/base}} {{/set-fill}}
        {{#set-fill}} {{vars.ear_fluff_color}} | {{#base}}#right-ear-fluff{{/base}} {{/set-fill}}
    </g>

    {{>tail}}
</g>
