<g id="body-snug">
    <defs>
        <clipPath id="body-clip">
            {{#snug}}#body{{/snug}}
        </clipPath>
    </defs>

    <g id="left-ear" transform="translate(0 2) rotate(5 6.6 5.5) translate(0 0.2)">
        {{#set-fill}} {{vars.ear_color}} | {{#base}}#left-ear{{/base}} {{/set-fill}}
    </g>

    {{#set-fill}}
        {{vars.body_color}}
        | {{#snug}}#body{{/snug}}
    {{/set-fill}}

    <g id="right-ear" transform="scale(1 0.95) translate(0 2) rotate(5 29 5) translate(-0.5 1.6)">
        {{#set-fill}} {{vars.ear_color}} | {{#base}}#right-ear{{/base}} {{/set-fill}}
        {{#set-fill}} {{vars.ear_fluff_color}} | {{#base}}#right-ear-fluff{{/base}} {{/set-fill}}
    </g>

    {{>tail}}
</g>
