<g id="hand-knife" transform="translate(1.5 -2.5)">
    <g id="knife">
        {{#knife}}#blade-back{{/knife}}
        {{#knife}}#blade-front{{/knife}}
        {{#knife}}#handle{{/knife}}
        {{#knife}}#handle-screw{{/knife}}
    </g>
    {{#set-fill}}#fcc21b|{{#knife}}#left-hand{{/knife}}{{/set-fill}}
</g>
