{{#tags.boop}}
    <g transform="translate(-0.75 1.9)">
{{/tags.boop}}
{{#tags.mouth-hmpf}}
    <g transform="translate(1.9 0)">
{{/tags.mouth-hmpf}}
    {{>blobfox.mouth}}
{{#tags.boop}}
    </g>
{{/tags.boop}}
{{#tags.mouth-hmpf}}
    </g>
{{/tags.mouth-hmpf}}
