{{#tags.boop}}
    <g transform="translate(-0.2 0.5)">
{{/tags.boop}}
{{#tags.mouth-hmpf}}
    <g transform="translate(0.5 0)">
{{/tags.mouth-hmpf}}
    {{>blobfox.mouth}}
{{#tags.boop}}
    </g>
{{/tags.boop}}
{{#tags.mouth-hmpf}}
    </g>
{{/tags.mouth-hmpf}}
