{{#tags.body-snug}}
    <g transform="translate(5.7 0)">
        {{#blobfox.base}}#nose{{/blobfox.base}}
    </g>
{{/tags.body-snug}}

{{#tags.boop}}
    <g transform="translate(5.7 -1.9)">
        {{#blobfox.base}}#nose{{/blobfox.base}}
    </g>
{{/tags.boop}}

{{#tags.mouth-hmpf}}
    <g transform="translate(2.64 -0.75)">
        {{#blobfox.base}}#nose{{/blobfox.base}}
    </g>
{{/tags.mouth-hmpf}}
