{{#tags.body-snug}}
    <g transform="translate(1.5 0)">
        {{#parent.base}}#nose{{/parent.base}}
    </g>
{{/tags.body-snug}}

{{#tags.boop}}
    <g transform="translate(1.5 -0.5)">
        {{#parent.base}}#nose{{/parent.base}}
    </g>
{{/tags.boop}}

{{#tags.mouth-hmpf}}
    <g transform="translate(0.7 -0.2)">
        {{#parent.base}}#nose{{/parent.base}}
    </g>
{{/tags.mouth-hmpf}}
