<g id="whiskers">
{{#tags.left-hand}}{{#tags.right-hand}}{{#tags.holding}}
    <g transform="translate(0 -3.8)">
{{/tags.holding}}{{/tags.right-hand}}{{/tags.left-hand}}

    {{#base}}#left-whisker{{/base}}
    {{#base}}#left-whisker-2{{/base}}
    {{#base}}#right-whisker{{/base}}
    {{#base}}#right-whisker-2{{/base}}

{{#tags.left-hand}}{{#tags.right-hand}}{{#tags.holding}}
    </g>
{{/tags.holding}}{{/tags.right-hand}}{{/tags.left-hand}}
</g>
