<g id="whiskers-snug">
    {{#base}}#left-whisker{{/base}}
    {{#base}}#left-whisker-2{{/base}}
    <g transform="translate(-1 -3)">
        <g transform="rotate(-20 25 20)">
            {{#base}}#right-whisker{{/base}}
        </g>
        <g transform="rotate(-10 25 20) translate(0 0.7)">
            {{#base}}#right-whisker-2{{/base}}
        </g>
    </g>
</g>
