{{>blobfox.body-comfy}}

<g clip-path="url(#body-clip)" blobfox-ignore-size="true">
    <g transform="scale(0.91 0.91) translate(5.5 4)">
        {{#set-fill}} {{vars.marks_color}} | {{#base}}#marks{{/base}} {{/set-fill}}
    </g>
</g>
