<g id="body-snug">
    <defs>
        <clipPath id="body-clip">
            {{#snug}}#body{{/snug}}
        </clipPath>
    </defs>

    {{! TODO: owo ear }}
    {{#set-fill}} {{vars.ear_color}} | {{#snug}}#left-ear{{/snug}} {{/set-fill}}

    {{#set-fill}} {{vars.body_color}} | {{#snug}}#body{{/snug}} {{/set-fill}}
    {{#set-fill}} {{vars.body_color}} | {{#snug}}#hair{{/snug}} {{/set-fill}}

    {{#set-fill}} {{vars.ear_color}} | {{#snug}}#right-ear{{/snug}} {{/set-fill}}
    {{#set-fill}} {{vars.ear_fluff_color}} | {{#snug}}#right-ear-fluff{{/snug}} {{/set-fill}}

    <g clip-path="url(#body-clip)" blobfox-ignore-size="true">
        <g transform="scale(0.97 0.97) translate(0 1)">
            {{#set-fill}} {{vars.marks_color}} | {{#base}}#marks{{/base}} {{/set-fill}}
        </g>
    </g>

    {{#tags.tail}}
        <g id="tail">
            {{#set-fill}} {{vars.tail_color}} | {{#snug}}#tail{{/snug}} {{/set-fill}}
        </g>
    {{/tags.tail}}
</g>
