{{>blobcat.body-snuggle}}

<g clip-path="url(#body-snuggle-clip)" blobfox-ignore-size="true">
    <g transform="translate(-5 -5) rotate(-5 45 45)">
        {{#set-fill}}
            {{vars.marks_color}}
            | {{#base}}#belly{{/base}}
        {{/set-fill}}
    </g>
</g>
