<!-- DEFS -->

{{#blobamber.owo}}#blobamber-owo-defs{{/blobamber.owo}}
{{#blobamber.base}}#blobamber-defs{{/blobamber.base}}

{{#tags.eyes-owo}}
    <g id="eyes">
        {{#owo}}#left-eye{{/owo}}
        {{#owo}}#right-eye{{/owo}}
    </g>
{{/tags.eyes-owo}}
{{^tags.eyes-owo}}
    {{>blobcat.eyes}}
{{/tags.eyes-owo}}
