{{#tags.hand-3c}}
{{#tags.holding}}
<g transform="translate(1.9 -3.8)">
{{/tags.holding}}
{{^tags.holding}}
<g transform="translate(4.5 -10.9)">
{{/tags.holding}}
{{/tags.hand-3c}}

{{>blobcat.hands}}

{{#tags.hand-3c}}
</g>
{{/tags.hand-3c}}
