{{#tags.hand-3c}}
{{#tags.holding}}
<g transform="translate(0.5 -1)">
{{/tags.holding}}
{{^tags.holding}}
<g transform="translate(1.2 -2.9)">
{{/tags.holding}}
{{/tags.hand-3c}}

{{#set-fill}}
    #6a6862 | {{>blobfox.hands}}
{{/set-fill}}

{{#tags.hand-3c}}
</g>
{{/tags.hand-3c}}
