<g id="base-snug">
    {{! TODO: update to the latest standard }}
    {{#snug}}#left-ear{{/snug}}
    {{#snug}}#right-ear{{/snug}}
    {{#snug}}#right-ear-fluff{{/snug}}
    {{#snug}}#body{{/snug}}
</g>
