<g id="base-snug">
    {{#snug}}#left-ear{{/snug}}
    {{#snug}}#body{{/snug}}
    {{#snug}}#hair{{/snug}}
    {{#snug}}#right-ear{{/snug}}
    {{#snug}}#right-ear-fluff{{/snug}}
    {{! TODO: update to the latest standard }}
    <!--<g id="old">
        {{#snug}}#left-ear{{/snug}}
        {{#snug}}#right-ear{{/snug}}
        {{#snug}}#right-ear-fluff{{/snug}}
        {{#snug}}#body{{/snug}}
    </g>-->
    <!--<g id="new" transform="scale(1 0.88) translate(0 2)">
        <g id="left-ear" transform="rotate(5 6.6 5.5) translate(0 0.2) scale(1 1.2)">
            {{#base}}#left-ear{{/base}}
        </g>
        {{#base}}#body{{/base}}
        {{#base}}#hair{{/base}}
        <g id="right-ear" transform="rotate(5 29 5) translate(-0.5 1.6)">
            {{#base}}#right-ear{{/base}}
            {{#base}}#right-ear-fluff{{/base}}
        </g>
    </g>-->
</g>
