<g id="base">
    {{#boop_owo}}#left-ear{{/boop_owo}}
    {{#boop_owo}}#left-ear-fluff{{/boop_owo}}
    {{#base}}#body{{/base}}
    {{#base}}#hair{{/base}}
    {{#base}}#right-ear{{/base}}
    {{#base}}#right-ear-fluff{{/base}}
</g>
