{{! Pull the defs from the svg for the gradients }}
{{#blush}}#blush-defs{{/blush}}

{{#blush}}#right-blush{{/blush}}
{{#blush}}#right-blush-line{{/blush}}
{{#blush}}#right-blush-line-2{{/blush}}

{{#blush}}#left-blush{{/blush}}
{{#blush}}#left-blush-line{{/blush}}
{{#blush}}#left-blush-line-2{{/blush}}
