<g id="body-snug">
    <defs>
        <clipPath id="body-clip">
            {{#snug}}#body{{/snug}}
        </clipPath>
    </defs>

    {{! TODO: owo ear }}
    {{#set-fill}} {{vars.ear_color}} | {{#snug}}#left-ear{{/snug}} {{/set-fill}}

    {{#set-fill}} {{vars.body_color}} | {{#snug}}#body{{/snug}} {{/set-fill}}
    {{#set-fill}} {{vars.body_color}} | {{#snug}}#hair{{/snug}} {{/set-fill}}

    {{#set-fill}} {{vars.ear_color}} | {{#snug}}#right-ear{{/snug}} {{/set-fill}}
    {{#set-fill}} {{vars.ear_fluff_color}} | {{#snug}}#right-ear-fluff{{/snug}} {{/set-fill}}

    {{#tags.tail}}
        <g id="tail">
            {{#set-fill}} {{vars.body_color}} | {{#snug}}#tail{{/snug}} {{/set-fill}}
        </g>
    {{/tags.tail}}
</g>

<!-- Following is a list of transforms to approximate the snug version using the base version
    <g id="new" transform="scale(1 0.88) translate(0 2)">
        <g id="left-ear" transform="rotate(5 6.6 5.5) translate(0 0.2) scale(1 1.2)">
            {{#base}}#left-ear{{/base}}
        </g>
        {{#base}}#body{{/base}}
        {{#base}}#hair{{/base}}
        <g id="right-ear" transform="rotate(5 29 5) translate(-0.5 1.6)">
            {{#base}}#right-ear{{/base}}
            {{#base}}#right-ear-fluff{{/base}}
        </g>
    </g>
-->
