<g id="body">
    {{#tags.body-basic}}
        {{>body-basic}}
    {{/tags.body-basic}}
    {{#tags.body-snug}}
        {{>body-snug}}
    {{/tags.body-snug}}
    {{#tags.body-comfy}}
        {{>body-comfy}}
    {{/tags.body-comfy}}
    {{#tags.body-snuggle}}
        {{>body-snuggle}}
    {{/tags.body-snuggle}}
</g>
