{{! Left ear }}
{{#tags.ear-owo}}
    {{#boop_owo}}#left-ear{{/boop_owo}}
    {{#boop_owo}}#left-ear-fluff{{/boop_owo}}
{{/tags.ear-owo}}
{{^tags.ear-owo}}
    {{#base}}#left-ear{{/base}}
{{/tags.ear-owo}}

{{#base}}#body{{/base}}
{{#base}}#hair{{/base}}

{{! Right ear }}
{{#base}}#right-ear{{/base}}
{{#base}}#right-ear-fluff{{/base}}
