<g id="crowbar">
    {{#crowbar}}#crowbar-base{{/crowbar}}
    {{#crowbar}}#crowbar-reflection{{/crowbar}}
    {{#crowbar}}#crowbar-shadow{{/crowbar}}
    {{#crowbar}}#crowbar-shadow-2{{/crowbar}}
</g>
