<g id="eyes">
    {{#tags.eyes-basic}}
        {{#base}}#left-eye{{/base}}
        {{#base}}#right-eye{{/base}}
    {{/tags.eyes-basic}}
    {{#tags.eyes-owo}}
        {{#boop_owo}}#left-eye{{/boop_owo}}
        {{#boop_owo}}#right-eye{{/boop_owo}}
    {{/tags.eyes-owo}}
    {{#tags.eyes-happy}}
        {{#snug}}#left-eye{{/snug}}
        {{#snug}}#right-eye{{/snug}}
    {{/tags.eyes-happy}}
    {{#tags.eyes-aww}}
        {{#reach_aww}}#left-eye{{/reach_aww}}
        {{#reach_aww}}#right-eye{{/reach_aww}}
    {{/tags.eyes-aww}}
    {{#tags.eyes-evil}}
        {{#3c_evil}}#left-eye{{/3c_evil}}
        {{#3c_evil}}#right-eye{{/3c_evil}}
    {{/tags.eyes-evil}}
    {{#tags.eyes-closed}}
        {{#blush}}#left-eye{{/blush}}
        {{#blush}}#right-eye{{/blush}}
    {{/tags.eyes-closed}}
    {{#tags.eyes-snuggle}}
        {{#snuggle_right}}#left-eye{{/snuggle_right}}
        {{#snuggle_right}}#right-eye{{/snuggle_right}}
    {{/tags.eyes-snuggle}}
</g>
