<g id="hand-knife">
    <g id="knife">
        {{#knife}}#blade-back{{/knife}}
        {{#knife}}#blade-front{{/knife}}
        {{#knife}}#handle{{/knife}}
        {{#knife}}#handle-screw{{/knife}}
    </g>
    {{#knife}}#left-hand{{/knife}}
</g>
