<g id="hands">
    {{#tags.hands-reach}}
        {{#set-stroke}}
            {{vars.hand_stroke_color}} |
            {{#set-fill}}
                {{vars.hand_color}}
                | {{#reach_aww}}#left-hand{{/reach_aww}}
            {{/set-fill}}
        {{/set-stroke}}
        {{#set-stroke}}
            {{vars.hand_stroke_color}} |
            {{#set-fill}}
                {{vars.hand_color}}
                | {{#reach_aww}}#right-hand{{/reach_aww}}
            {{/set-fill}}
        {{/set-stroke}}
    {{/tags.hands-reach}}
    {{#tags.hand-3c}}
        {{#tags.holding}}
            {{#set-fill}} {{vars.hand_color}} | {{#knife}}#left-hand{{/knife}} {{/set-fill}}
        {{/tags.holding}}
        {{^tags.holding}}
            {{! :3c hand }}
            {{#set-fill}} {{vars.hand_color}} | {{#3c_evil}}#left-hand{{/3c_evil}} {{/set-fill}}
        {{/tags.holding}}
    {{/tags.hand-3c}}
    {{^tags.hand-3c}}
        {{#tags.holding}}
            {{#tags.left-hand}}
                {{#set-fill}} {{vars.hand_color}} | {{#heart}}#left-hand{{/heart}} {{/set-fill}}
            {{/tags.left-hand}}

            {{#tags.right-hand}}
                {{#set-fill}} {{vars.hand_color}} | {{#heart}}#right-hand{{/heart}} {{/set-fill}}
            {{/tags.right-hand}}
        {{/tags.holding}}
    {{/tags.hand-3c}}
</g>
