<g id="hands">
    {{#tags.hands-reach}}
        {{#reach_aww}}#left-hand{{/reach_aww}}
        {{#reach_aww}}#right-hand{{/reach_aww}}
    {{/tags.hands-reach}}
    {{#tags.hand-3c}}
        {{#tags.holding}}
            {{#knife}}#left-hand{{/knife}}
        {{/tags.holding}}
        {{^tags.holding}}
            {{! :3c hand }}
            {{#3c_evil}}#left-hand{{/3c_evil}}
        {{/tags.holding}}
    {{/tags.hand-3c}}
</g>
