<g id="nose">
    {{#tags.eyes-basic}}
        {{#base}}#nose-outline{{/base}}
    {{/tags.eyes-basic}}
    {{#tags.eyes-owo}}
        {{#boop_owo}}#nose-outline{{/boop_owo}}
    {{/tags.eyes-owo}}
    {{#tags.eyes-aww}}
        {{#reach_aww}}#nose-outline{{/reach_aww}}
    {{/tags.eyes-aww}}
    {{#tags.eyes-happy}}
        {{#snug}}#nose-outline{{/snug}}
    {{/tags.eyes-happy}}
    {{#tags.eyes-evil}}
        {{#3c_evil}}#nose-outline{{/3c_evil}}
    {{/tags.eyes-evil}}
    {{#tags.eyes-closed}}
        {{#blush}}#nose-outline{{/blush}}
    {{/tags.eyes-closed}}
    {{#tags.eyes-snuggle}}
        {{#snuggle_right}}#nose-outline{{/snuggle_right}}
    {{/tags.eyes-snuggle}}

    {{#base}}#nose{{/base}}
</g>
