{{>header}}
    <g id="body">
        {{>base}}
        {{>hand-3c}}
        {{>extra-3c}}
    </g>
    <g id="features">
        {{>eyes-evil}}
        {{>nose-evil}}
        {{>mouth-w}}
    </g>
{{>footer}}
