{{>header}}
    <g id="body">
        {{>base}}
        {{>base-extra}}
    </g>
    <g id="features">
        {{>eyes}}
        {{>nose}}
        {{>mouth-w}}
        {{>hand-boop}}
    </g>
{{>footer}}
