{{>header}}
    <g id="body">
        {{>base}}
        {{>extra-base}}
    </g>
    <g id="features">
        {{>eyes-aww}}
        {{>nose-aww}}
        {{>mouth-w}}
        {{>hand-boop}}
    </g>
{{>footer}}
