{{>header}}
    {{>body}}

    {{>eyes}}

    <defs>
        <clipPath id="clip-heart">
            {{#heart}}#heart{{/heart}}
        </clipPath>
    </defs>

    <g blobfox-only-size="true">
        {{#heart}}#heart{{/heart}}
    </g>

    {{! NOTE: The progress flag has a different aspect ratio compared to the other flags }}
    <g clip-path="url(#clip-heart)" blobfox-ignore-size="true">
        <g transform="rotate(9) scale(0.95 0.95) translate(20 50)">
            {{#flag_progress}}{{/flag_progress}}
        </g>
    </g>

    {{#set-fill}} rgba(255,255,255,0.5) | {{#heart}}#heart-reflection{{/heart}} {{/set-fill}}

    {{>hands}}
{{>footer}}
