{{>header}}
    <g id="body">
        {{>base}}
        {{>hands-reach}}
        {{>reach-extra}}
    </g>
    <g id="features">
        {{>eyes-aww}}
        {{>nose-aww}}
        {{>mouth-w}}
    </g>
{{>footer}}
